<h2>Products</h2>
<!--directiva estructural ngFor para todo el div-->
<div *ngFor="let product of products">
  <!--
    muestra product.name con medida h3 en un enlace
    el atributo title muestra un mensaje al pasar el cursor por encima con el valor de la variable (por los corchetes) mas 'details'-->
	<h3>
		<a [title]="product.name + ' details'">
			{{ product.name }}
		</a>
	</h3>
  <!--si hay product.description se muestra entre p-->
	<p *ngIf="product.description">
		Description: {{ product.description }}
	</p>

	<button (click)="share()">
  Share
</button>

	<app-product-alerts [product]="product" (notify)="onNotify()">
	</app-product-alerts>
</div>